.lightEffect {
  filter: drop-shadow(2px 4px 80px rgb(255, 132, 0));
}

@keyframes lightEffect {
  0% {
    transform: scale(1);
    filter: none;
  }
  50% {
    transform: scale(1);
    filter: drop-shadow(2px 4px 80px rgb(255, 132, 0));
  }
  100% {
    transform: scale(1);
    filter: none;
  }
}
