.filterWrapper {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

label {
  display: flex;
  align-items: center;
  margin: 0px 5px;
}

select {
  border-radius: 5px;
  display: flex;
  flex-grow: 1;
}
