.filterWrapper {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

select {
  border-radius: 5px;
  display: flex;
  flex-grow: 1;
  margin-left: 5px;
}

button {
  cursor: pointer;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.9);
}

button:hover {
  color: #5aac44;
  font-weight: 700;
}

.active {
  color: #5aac44;
  font-weight: 700;
  filter: drop-shadow(0px 8px 2.5px rgba(72, 138, 54, 0.8));
  transition: all 0.25s ease;
}
