.hero {
  display: flex;
  margin: 0 auto;
  position: relative;
}

.hero > h1,
.hero > p {
  position: absolute;
  z-index: 1;
  color: white;
  font-weight: 300;
  margin-left: 5%;
}

.hero > h1 {
  font-size: 5vw;
  bottom: 5%;
}

.hero > p {
  font-size: 1.5vw;
  bottom: 0;
}

.todoList {
  display: flex;
  max-width: 1280px;
  flex-direction: column;
  margin: 5% auto 0 auto;
  align-items: center;
}

.finish > div {
  display: flex;
  justify-content: center;
}

.finish > div > svg {
  width: 35%;
  height: 10%;
}
